.logo{
    background-color: #e6e6e6 ;
 height: 30px;
}

.header{
    width: 100%;
}

.headerbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

.headerbox2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.email{
    margin-bottom: 5px;
}

.section1{
    background-image: url("/psdtowebcolageno/psdtowebcolageno/images/slide1copia.png");
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.compraahora{
    height: 250px;
    width: 40%;
    background-color: #e6e6e6 ;
    transform: translateY(-150px);
    margin-left: 35%;
}


.section2-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 30px;
}

.linea1{
    margin-left: 20%;
    width: 60%;
}

.queescolageno{
    margin-left: 20px;
}

.parrafo1{
    margin: 40px;
}

.colagenoproteina{
    margin-top: 40px;
}

.section2-2{
    background-image: url("/psdtowebcolageno/psdtowebcolageno/images/Imagen6.png");
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
}

.section2-2-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section2-2-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section2-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section2-3-1{
    margin-left: 20px;
}

.diferentes{
    margin: 20px;

}

.section2-3-2{
    margin: 30px;
}


.section2-4{
    background-image: url("/psdtowebcolageno/psdtowebcolageno/images/Imagen6_1.png");
}

.titulodetalles{
margin: 40px;
}

.section2-4-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.minilogos{
    margin: 25px;
}

.section2-4-2{
    display: flex;
    flex-direction: row;
    justify-content: center;  
    margin-top: 30px; 
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    margin: 35px;
}

.tapas0{
  margin-left: 20px;
  margin-right: 20px;
}

.tapas{
    margin-left: 20px;
}

.tapas2{
    margin-left: 40px;
}

.tapas1{
    margin-left: 60px;
    margin-top: 50px;
}

.section2-5{
    display: flex;
    flex-direction: row;
    justify-content: center;   
}

.colagenolxr{
    margin-top: 30px;
}

.preciocolageno{
    margin-top: 70px;
}

.paquete{
    margin-top: 60px;
}

.section2-5-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;

}

.section2-6{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-image: url("/psdtowebcolageno/psdtowebcolageno/images/Imagen6_0.png");
    text-align: center;
}



.section2-6-2{
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

.section2-6-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer{
    height: 200px;
    width: 100%;
    background-color:#f19797 ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footerlogo{
    height: 50px;

}